In [2]:
myfile = open('file.txt') 
file = myfile.read()

In [7]:
import pandas as pd
df= pd.read_table('file.txt')
df

                                                   5485
0     1 champion products ch approves stock split ch...
1     2 computer terminal systems cpml completes sal...
2     1 cobanco inc cbco year net shr cts vs dlrs ne...
3     1 am international inc am nd qtr jan oper shr ...
4     1 brown forman inc bfd th qtr net shr one dlr ...
...                                                 ...
5480  1 kelly oil and gas partners kly year dec shr ...
5481  8 japan seeks to strengthen paris currency acc...
5482  1 tcw convertible securities cvt sets dividend...
5483  8 south korean won fixed at month high the ban...
5484  4 australian unions launch new south wales str...

[5485 rows x 1 columns]

In [14]:
df = df.rename(columns={'5485':"msg"})
df

                                                    msg
0     1 champion products ch approves stock split ch...
1     2 computer terminal systems cpml completes sal...
2     1 cobanco inc cbco year net shr cts vs dlrs ne...
3     1 am international inc am nd qtr jan oper shr ...
4     1 brown forman inc bfd th qtr net shr one dlr ...
...                                                 ...
5480  1 kelly oil and gas partners kly year dec shr ...
5481  8 japan seeks to strengthen paris currency acc...
5482  1 tcw convertible securities cvt sets dividend...
5483  8 south korean won fixed at month high the ban...
5484  4 australian unions launch new south wales str...

[5485 rows x 1 columns]

In [17]:
import string

In [20]:
#Remove puntuation
def remove_punc(text): 
    puncfree = "".join([i for i in text if i not in string.punctuation])
    return puncfree

df['clean_msg'] = df['msg'].apply(lambda x:remove_punc(x))

In [23]:
#Convert to lower case
df['msg_lower'] = df['clean_msg'].apply(lambda x: x.lower())

In [24]:
#Tokenization
import re
def tokenization(text): 
    tokens = re.split('W+', text)
    return tokens 

df['tokenise_msg'] = df['msg_lower'].apply(lambda x: tokenization(x))
df

,msg,clean_msg,msg_lower,tokenise_msg
0,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,[1 champion products ch approves stock split c...
1,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,[2 computer terminal systems cpml completes sa...
2,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,[1 cobanco inc cbco year net shr cts vs dlrs n...
3,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,[1 am international inc am nd qtr jan oper shr...
4,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,[1 brown forman inc bfd th qtr net shr one dlr...
...,...,...,...,...
5480,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,[1 kelly oil and gas partners kly year dec shr...
5481,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,[8 japan seeks to strengthen paris currency ac...
5482,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,[1 tcw convertible securities cvt sets dividen...
5483,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,[8 south korean won fixed at month high the ba...
5484,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,[4 australian unions launch new south wales st...

In [30]:
#importing nlp library
import nltk
nltk.download('stopwords')
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

#applying the function
df['no_stopwords']= df['tokenise_msg'].apply(lambda x:remove_stopwords(x))
df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,msg,clean_msg,msg_lower,tokenise_msg,no_stopwords
0,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...
1,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...
2,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...
3,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...
4,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...
...,...,...,...,...,...
5480,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...
5481,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...
5482,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...
5483,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...
5484,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...

In [33]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()
#defining a function for stemming
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
df['msg_stemmed']=df['no_stopwords'].apply(lambda x: stemming(x))
df

,msg,clean_msg,msg_lower,tokenise_msg,no_stopwords,msg_stemmed
0,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...
1,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...
2,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...
3,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...
4,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...
...,...,...,...,...,...,...
5480,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...
5481,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...
5482,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...
5483,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...
5484,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...

In [37]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
df['msg_lemmatized']=df['no_stopwords'].apply(lambda x:lemmatizer(x))
df

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,msg,clean_msg,msg_lower,tokenise_msg,no_stopwords,msg_stemmed,msg_lemmatized
0,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...
1,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...
2,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...
3,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...
4,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...
...,...,...,...,...,...,...,...
5480,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...
5481,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...
5482,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...
5483,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...
5484,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...

In [42]:
#Remvoe Num
from string import digits
def remove_num(text): 
    result = "".join([i for i in text if  i.isdigit()])
    return result 

df['final_msg'] = df['msg_lemmatized'].apply(lambda x: remove_num(x))
df

,msg,clean_msg,msg_lower,tokenise_msg,no_stopwords,msg_stemmed,msg_lemmatized,final_msg
0,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,1 champion products ch approves stock split ch...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,[1 champion products ch approves stock split c...,
1,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,2 computer terminal systems cpml completes sal...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,[2 computer terminal systems cpml completes sa...,
2,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,1 cobanco inc cbco year net shr cts vs dlrs ne...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,[1 cobanco inc cbco year net shr cts vs dlrs n...,
3,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,1 am international inc am nd qtr jan oper shr ...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,[1 am international inc am nd qtr jan oper shr...,
4,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,1 brown forman inc bfd th qtr net shr one dlr ...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,[1 brown forman inc bfd th qtr net shr one dlr...,
...,...,...,...,...,...,...,...,...
5480,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,1 kelly oil and gas partners kly year dec shr ...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,[1 kelly oil and gas partners kly year dec shr...,
5481,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,8 japan seeks to strengthen paris currency acc...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,[8 japan seeks to strengthen paris currency ac...,
5482,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,1 tcw convertible securities cvt sets dividend...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,[1 tcw convertible securities cvt sets dividen...,
5483,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,8 south korean won fixed at month high the ban...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,[8 south korean won fixed at month high the ba...,
5484,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,4 australian unions launch new south wales str...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,[4 australian unions launch new south wales st...,

## Text pre-processing XML

In [2]:
import xml.etree.ElementTree as ET

In [3]:
tree = ET.parse("sample.xml") 
root = tree.getroot()

Check root of the tag

In [4]:
root.tag

'article'

In [5]:
for child in root: 
    print(child.tag, child.attrib)

front {}
body {}

Elements in entire tree.

In [6]:
[elem.tag for elem in root.iter()]

['article',
 'front',
 'journal-meta',
 'journal-id',
 'journal-id',
 'journal-id',
 'journal-id',
 'journal-title-group',
 'journal-title',
 'issn',
 'issn',
 'publisher',
 'publisher-name',
 'publisher-loc',
 'article-meta',
 'article-id',
 'article-categories',
 'subj-group',
 'subject',
 'subj-group',
 'subject',
 'subject',
 'subj-group',
 'subject',
 'subject',
 'subject',
 'subject',
 'title-group',
 'article-title',
 'alt-title',
 'contrib-group',
 'contrib',
 'name',
 'surname',
 'given-names',
 'pub-date',
 'month',
 'year',
 'pub-date',
 'day',
 'month',
 'year',
 'volume',
 'issue',
 'elocation-id',
 'permissions',
 'copyright-year',
 'copyright-holder',
 'license',
 'license-p',
 'related-article',
 'article-title',
 'body',
 'sec',
 'title',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'sec',
 'title',
 'fig',
 'object-id',
 'caption',
 'p',
 'graphic']

In [10]:
for x in root.iter('article'): 
    print(x.attrib)

{'article-type': 'article-commentary', 'dtd-version': '3.0', '{http://www.w3.org/XML/1998/namespace}lang': 'EN'}

Checking the text content 
body = p 
title = article-title

In [18]:
for p in root.iter('p'): 
    text_body = p.text 
    print(text_body)

In the rat, whiskers are highly specialized sensory organs that serve much the same function as eyes and hands do for humans—they are a prime source of tactile and spatial information. The study of whisker sensory processing has proven fruitful for understanding how information is received, delivered, processed, and acted on in the brain. In this issue, Chunxiu Yu, Ehud Ahissar, and colleagues present novel insights into the connection between brain structure and sensory function by showing that whisker sensations that enter the thalamus, a central gateway of the brain, travel by three distinct pathways—two of which convey signals representing specific aspects of the sensory experience, while the third conveys a complex signal.
It has been shown previously that these three pathways, called the paralemniscal, extralemniscal, and lemniscal, carry whisker sensations from sensory neurons via the thalamus and on to higher sensory-processing centers of the brain, but how these pathways handled the different types of information was unclear.
To examine this, the authors stimulated the facial nerve in anesthetized rats, causing the whisker to move as it does when the rats are actively moving their whiskers to explore the environment, a behavior known as “whisking.” Sometimes the whiskers contacted a rod placed in its path, while other times they contacted nothing. To see if the whiskers convey a different message depending on whether the rat is whisking versus when objects passively come into contact with the whisker, the authors also brought the rod in contact with stationary whiskers.
Using single-cell recording electrodes implanted in different sections of the thalamus, the authors could compare the signals sent by the sensory neurons under these various conditions. They found that whisker movement induced activity in the paralemniscal pathway, whether or not the whisker touched the rod. Contact with the rod induced activity in the extralemniscal pathway, whether or not the whisker moved. And when the moving whisker contacted the rod, both pathways were active, along with the third pathway, the lemniscal.
The authors propose that the thalamic pathways function somewhat in parallel, each specialized for handling unique dimensions of movement and touch. In this arrangement, the paralemniscal handles temporal information related to motor control of whisking, the extralemniscal conveys object location, and the lemniscal pathway integrates a higher dimension of temporal and spatial information. The authors note that each of these pathways conveys information back to the motor nuclei by a different route, and thus is involved in a unique motor-sensory-motor loop. The authors caution, however, that these loops would not function in isolation, but, instead, can be considered parallel loops, with the higher processing loops building on the lower ones.
These results strengthen a model of the nervous system in which each sensory-motor pathway evolved in steps over time, with each new addition reaching to higher brain regions and subserving novel behaviors. In this scheme, evolution of movement sensation of the whiskers, conveyed by the paralemniscal pathway and processed in low brain regions, would have arisen first. This would be followed by evolution of contact detection, conveyed by the extralemniscal pathway and processed higher up in the brain to analyze object location. Finally, as analysis of object identity required greater detail, the lemniscal pathway would arise to convey the integrated information for higher brain analysis. Further testing of this model of nested motor-sensory-motor loops in this and other sensory systems may help determine the principles of active sensation.
Three parallel trigeminal pathways through the thalamus convey whisking, contact, and whisking-touch signals, enabling parallel processing of sensor motion (“when”), object location (“where”), and object identity (“what”) in the whisking rat.

In [19]:
for title in root.iter('article-title'): 
    title = title.text 
    print(title)

Motion, Contact, or Both: Three Paths Convey Whisker Sensation in the Rat
Parallel Thalamic Pathways for Whisking and Touch Signals in the Rat

In [26]:
for sub in root.iter("subject"): 
    subject = sub.text
    print(subject)

Synopsis
Neuroscience
Physiology
Rattus (rat)
Mammals
Vertebrates
Animals

In [27]:
for pub in root.iter("publisher-name"): 
    publisher_name = pub.text
    print(publisher_name)

Public Library of Science

In [28]:
for publ in root.iter("publisher-loc"): 
    publisher_location = publ.text
    print(publisher_location)

San Francisco, USA